* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #6f0ac2;
}

html, button {
    font-family: 'Poppins', sans-serif;
}

body {
    min-width: 100vw;
    min-height: 100vh;
    background-color: #131313;
    display: flex;
    align-items: center;
    flex-direction: column;
}

header.header {
    width: 100%;
    background-color: #151515;
    display: flex;
    padding: 1rem;
    justify-content: space-between;
    align-items: center;
}

.header-title h1.hi-gabe {
    font-size: 1.8rem;
}

.icons-follow h3.follow {
    font-size: 1.2rem;
    font-weight: 500;
    color: #333;
}

ul.list-icons {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}


button.btn {
    padding: 6px 20px;
    border: 2px solid #c3affa;
    border-radius: 6px;
    background-color: #6f0ac2;
    color: #c3affa;
    font-weight: 700;
    font-size: .8rem;
    cursor: pointer;
}

/* button.btn:hover {
} */